<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Poke App</title>
    {% load staticfiles %}
    <!-- <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> -->
</head>
<body>
    <main>
        <p>The result is: {{ result }}</p>
        <p>And here are my cars: </p>
        {% for car in cars %}
            <p>{{ car }}</p>
        {% endfor %}

        <link href="{% style.css %}" rel="stylesheet">
    </main>
</body>
</html>